<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.intermine.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InterMineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/InterMine.Theme">
        <activity
            android:name=".activity.StartActivity"
            android:label=""></activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GeneViewActivity"
            android:label="@string/gene_view"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.GenesListActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.TemplateActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.TemplateResultsActivity"
            android:parentActivityName=".activity.TemplateActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.WebActivity"
            android:parentActivityName=".activity.GeneViewActivity" />
        <activity
            android:name=".activity.MinesActivity"
            android:label="@string/mines"
            android:parentActivityName=".activity.SettingsActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/log_in"
            android:parentActivityName=".activity.LoginActivity" />

        <service
            android:name=".service.RoboSpiceService"
            android:exported="false" />
    </application>
</manifest>
